mat-card{
    border-radius: 10px;
    background-color: #c0c0c0;
    mat-card-content {
        div {
            margin-bottom: 5%;
        }
        margin-top: 5%;
    }
    mat-card-actions {
        margin-top: 10%;
        display: flex;
        justify-content: flex-end;
    }
}