mat-card{
    color: white;
    background-color: #424242;
    border-radius: 10px;
    mat-card-content {
        div {
            margin-bottom: 5%;
        }
        margin-top: 5%;
    }
    mat-card-actions {
        margin-top: 10%;
        display: flex;
        justify-content: flex-end;
    }
}