/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030;}
mat-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.color-primary {
    color: #673ab7
}
.color-red {
    color: #f44336;
}
.color-secondary {
    color: #969696
}
